[submodule ".registry"]
	path = .registry
	url = https://github.com/zaoqu-liu/zaoqu-liu.r-universe.dev
	branch = HEAD
[submodule "BioTransition"]
	path = BioTransition
	url = https://github.com/SolvingLab/BioTransition
[submodule "Connectome"]
	path = Connectome
	url = https://github.com/Zaoqu-Liu/Connectome
	branch = main
[submodule "METAFLUX"]
	path = METAFLUX
	url = https://github.com/Zaoqu-Liu/METAFlux
	branch = main
[submodule "MultiK"]
	path = MultiK
	url = https://github.com/Zaoqu-Liu/MultiK
	branch = main
[submodule "OmnipathR"]
	path = OmnipathR
	url = https://github.com/Zaoqu-Liu/OmnipathR
	branch = master
[submodule "SCENT"]
	path = SCENT
	url = https://github.com/Zaoqu-Liu/SCENT
	branch = main
[submodule "SVG"]
	path = SVG
	url = https://github.com/Zaoqu-Liu/SVG
[submodule "SafeMapper"]
	path = SafeMapper
	url = https://github.com/Zaoqu-Liu/SafeMapper
	branch = main
[submodule "SecAct"]
	path = SecAct
	url = https://github.com/Zaoqu-Liu/SecAct
	branch = main
[submodule "SpaTalk"]
	path = SpaTalk
	url = https://github.com/Zaoqu-Liu/SpaTalk
	branch = main
[submodule "fastCNV"]
	path = fastCNV
	url = https://github.com/Zaoqu-Liu/fastCNV
	branch = main
[submodule "ggforge"]
	path = ggforge
	url = https://github.com/Zaoqu-Liu/ggforge
[submodule "iTALK"]
	path = iTALK
	url = https://github.com/Zaoqu-Liu/iTALK
	branch = main
[submodule "liana"]
	path = liana
	url = https://github.com/Zaoqu-Liu/liana
	branch = main
[submodule "llmflow"]
	path = llmflow
	url = https://github.com/Zaoqu-Liu/llmflow
[submodule "llmhelper"]
	path = llmhelper
	url = https://github.com/Zaoqu-Liu/llmhelper
[submodule "scGate"]
	path = scGate
	url = https://github.com/Zaoqu-Liu/scGate
	branch = main
[submodule "scMetaLink"]
	path = scMetaLink
	url = https://github.com/Zaoqu-Liu/scMetaLink
[submodule "scPAS"]
	path = scPAS
	url = https://github.com/Zaoqu-Liu/scPAS
[submodule "scTenifoldKnk"]
	path = scTenifoldKnk
	url = https://github.com/Zaoqu-Liu/scTenifoldKnk
