[submodule ".registry"]
	path = .registry
	url = https://github.com/zaoqu-liu/zaoqu-liu.r-universe.dev
	branch = HEAD
[submodule "BioTransition"]
	path = BioTransition
	url = https://github.com/SolvingLab/BioTransition
[submodule "SafeMapper"]
	path = SafeMapper
	url = https://github.com/Zaoqu-Liu/SafeMapper
	branch = main
[submodule "ggforge"]
	path = ggforge
	url = https://github.com/Zaoqu-Liu/ggforge
[submodule "llmflow"]
	path = llmflow
	url = https://github.com/Zaoqu-Liu/llmflow
[submodule "llmhelper"]
	path = llmhelper
	url = https://github.com/Zaoqu-Liu/llmhelper
[submodule "scMetaLink"]
	path = scMetaLink
	url = https://github.com/Zaoqu-Liu/scMetaLink
